@use "./utilities/index" as *;

:root {
	--soft-red: hsl(7, 99%, 70%);
	--yellow: hsl(51, 100%, 49%);
	--dark-desaturated-cyan: hsl(167, 40%, 24%); // graphic design text
	--dark-blue: hsl(198, 62%, 26%); //photography text
	--dark-moderate-cyan: hsl(168, 34%, 41%); //footer
	--very-dark-desaturated-blue: hsl(212, 27%, 19%);
	--very-dark-grayish-blue: hsl(213, 9%, 39%);
	--dark-grayish-blue: hsl(232, 10%, 55%);
	--grayish-blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);
	--fraunces: "Fraunces", serif;
}

body {
	font-size: 16px;
	background-color: #333;
	font-family: "Barlow", sans-serif;
}

.nav-mobile {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8.53vw 5.55vw;
}

.nav-mobile-logo {
	width: 33.07vw;
}

.nav-mobile-btn {
	width: 6.4vw;
}

.nav-mobile-menu {
	background-color: var(--white);
	padding: 8.53vw;
	position: absolute;
	top: 120%;
	right: 5.55vw;
	width: calc(100% - 11.09vw);
	z-index: 100;
}

.nav-mobile-skew {
	position: absolute;
	background-color: var(--white);
	width: 12.8vw;
	height: 12.8vw;
	right: 5.55vw;
	bottom: -75%;
	transform: skewY(-49deg);
}

.nav-mobile-skew,
.nav-mobile-menu {
	opacity: 0;
	z-index: -100;
}

.menu-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10.24vw;
	list-style: none;
}

.menu-container-item {
	display: inline-block;
	font-size: clamp(2rem, calc(2rem + ((30 - 20) * ((100vw - 375px) / (575 - 375)))), 3rem);
	font-weight: 500;
	a {
		color: var(--very-dark-desaturated-blue);
	}
	&:last-child {
		padding: 3.41vw 6.4vw;
		background-color: var(--yellow);
		font-weight: 600;
		font-family: var(--fraunces);
		text-transform: uppercase;
		border-radius: 8.53vw;
	}
}

.header {
	margin-top: 12.8vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 14.93vw;
}

.header-title {
	text-transform: uppercase;
	text-align: center;
	font-family: "Fraunces", serif;
	font-size: clamp(4rem, calc(4rem + ((58 - 40) * ((100vw - 375px) / (575 - 375)))), 5.8rem);
	letter-spacing: 0.18em;
	color: var(--white);
}

.header-arrow {
	display: block;
	margin: 0 auto;
	width: 10%;
}

.header-img {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

// - Mobile: 375px
// - Desktop: 1440px

// - Family: [Barlow](https://fonts.google.com/specimen/Barlow)
// - Weights: 600
// - Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
// - Weights: 700, 900
