@use "./utilities/index" as *;

:root {
	--soft-red: #fe7867;
	--yellow: #fad400;
	--dark-desaturated-cyan: #25564b;
	--dark-blue: #19536b;
	--dark-moderate-cyan: #458c7e;
	--very-dark-desaturated-blue: #23303e;
	--very-dark-grayish-blue: #5a636c;
	--dark-grayish-blue: #818498;
	--grayish-blue: #a7abae;
	--white: #ffffff;
	--fraunces: "Fraunces", serif;
}

body {
	font-size: 16px;
	background-color: var(--white);
	font-family: "Barlow", sans-serif;
}

#root,
.header-img {
	min-width: 100vw;
	width: 375px;
}

.nav-mobile {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8.53vw 5.55vw;
}

.nav-mobile-logo {
	width: 33.07vw;
}

.nav-mobile-btn {
	width: 6.4vw;
}

.nav-mobile-menu {
	background-color: var(--white);
	padding: 8.53vw;
	position: absolute;
	top: 120%;
	right: 5.55vw;
	width: calc(100% - 11.09vw);
	z-index: 100;
}

.nav-mobile-skew {
	position: absolute;
	background-color: var(--white);
	width: 12.8vw;
	height: 12.8vw;
	right: 5.55vw;
	bottom: -75%;
	transform: skewY(-49deg);
}

.nav-mobile-skew,
.nav-mobile-menu {
	opacity: 0;
	z-index: -100;
}

.nav-desktop-links {
	display: none;
}

.menu-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10.24vw;
	list-style: none;
}

.menu-container-item {
	display: inline-block;
	font-size: clamp(2rem, calc(2rem + ((30 - 20) * ((100vw - 375px) / (575 - 375)))), 3rem);
	font-weight: 500;
	a {
		color: var(--very-dark-desaturated-blue);
	}
	&:last-child {
		padding: 3.41vw 6.4vw;
		background-color: var(--yellow);
		font-weight: 600;
		font-family: var(--fraunces);
		text-transform: uppercase;
		border-radius: 8.53vw;
	}
}

.header {
	display: flex;
	flex-direction: column;
	row-gap: 14.93vw;
	height: 120vw;
}

.header-title {
	margin-top: 4.27vw;
	text-transform: uppercase;
	text-align: center;
	font-family: "Fraunces", serif;
	font-size: clamp(4rem, calc(4rem + ((62 - 40) * ((100vw - 375px) / (575 - 375)))), 6.2rem);
	letter-spacing: 0.77vw;
	color: var(--white);
}

.header-arrow {
	display: block;
	margin: 0 auto;
	width: 12.2%;
}

.header-img {
	position: absolute;
	top: 0;
	left: 50%;
	right: 0;
	bottom: 0;
	transform: translateX(-50%);
	min-width: 100vw;
	width: 375px;
	z-index: -1;
}

.article-photo {
	display: block;
	width: 100%;
}

.article {
	display: grid;
	row-gap: 6.83vw;
	padding: 15.79vw 7.25vw;
	text-align: center;
}

.article-title {
	font-size: clamp(3rem, calc(3rem + ((46 - 30) * ((100vw - 375px) / (575 - 375)))), 4.6rem);
}

.article-text {
	font-weight: 600;
	color: var(--dark-grayish-blue);
	line-height: 1.7;
	font-size: clamp(1.8rem, calc(1.8rem + ((27.6 - 18) * ((100vw - 375px) / (575 - 375)))), 2.76rem);
}

.article-link {
	width: fit-content;
	margin: 0 auto;
	font-size: clamp(1.5rem, calc(1.5rem + ((23 - 15) * ((100vw - 375px) / (575 - 375)))), 2.3rem);
	text-transform: uppercase;
	color: var(--very-dark-desaturated-blue);
	border-bottom: 0.53vw solid var(--yellow);
}

.article-link,
.article-title {
	font-family: var(--fraunces);
	font-weight: 900;
}

.article-with-img {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	height: 160vw;
}

.article-img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
}

.article-box {
	padding: 12.8vw 4.27vw;
	text-align: center;
}

.article-title-box {
	color: var(--dark-desaturated-cyan);
}

.article-text-text {
	margin-top: 7.68vw;
	color: var(--dark-desaturated-cyan);
	font-size: clamp(1.6rem, calc(1.6rem + ((24.55 - 16) * ((100vw - 375px) / (575 - 375)))), 2.455rem);
}

.last-section {
	padding: 14.93vw 8.53vw 23.47vw;
	text-align: center;
}

.last-section-title {
	font-family: var(--fraunces);
	text-transform: uppercase;
	letter-spacing: 1.07vw;
	font-size: clamp(1.6rem, calc(1.6rem + ((24.55 - 16) * ((100vw - 375px) / (575 - 375)))), 2.455rem);
	color: var(--grayish-blue);
}

.last-img {
	margin: 19.2vw 0 8.53vw;
	width: 17.33vw;
	border-radius: 50%;
}

.last-info {
	font-size: clamp(1.75rem, calc(1.75rem + ((26.85 - 17.5) * ((100vw - 375px) / (575 - 375)))), 2.685rem);
	font-weight: 600;
	color: var(--very-dark-grayish-blue);
	line-height: 1.7;
}

.last-name {
	margin: 8.53vw 0 2.99vw;
	font-family: var(--fraunces);
	font-weight: 900;
	font-size: clamp(1.6rem, calc(1.6rem + ((24.55 - 16) * ((100vw - 375px) / (575 - 375)))), 2.455rem);
}

.last-job {
	font-size: clamp(1.3rem, calc(1.3rem + ((19.95 - 13) * ((100vw - 375px) / (575 - 375)))), 1.995rem);
	color: var(--grayish-blue);
}

.images {
	display: grid;
	grid-template-columns: 0.5fr 0.5fr;
}

.footer {
	padding: 14.93vw 6.83vw;
	text-align: center;
	background-color: #90d4c5;
}

.footer-img {
	margin-bottom: 10.67vw;
	width: 50%;
	filter: invert(36%) sepia(6%) saturate(3994%) hue-rotate(123deg) brightness(55%) contrast(80%);
}

.footer-links {
	margin: 0 1.28vw 21.33vw;
	display: flex;
	justify-content: space-between;
}

.footer-link {
	color: var(--dark-moderate-cyan);
	font-weight: 600;
	font-size: clamp(1.8rem, calc(1.8rem + ((27.6 - 18) * ((100vw - 375px) / (575 - 375)))), 2.76rem);
}

.footer-icons {
	margin-bottom: 8.53vw;
	display: flex;
	justify-content: center;
	column-gap: 8.53vw;
}

.footer-icon {
	width: 5.33vw;
}

@media (min-width: 576px) {
	body {
		display: grid;
		place-items: center;
	}

	#root {
		-webkit-box-shadow: 0px 0px 24px 0px rgba(37, 86, 75, 1);
		-moz-box-shadow: 0px 0px 24px 0px rgba(37, 86, 75, 1);
		box-shadow: 0px 0px 24px 0px rgba(37, 86, 75, 1);
	}

	#root,
	.header-img {
		min-width: auto;
		width: 576px;
	}

	.nav-mobile {
		padding: 3.064em 1.994em;
	}

	.nav-mobile-logo {
		width: 11.884em;
	}

	.nav-mobile-btn {
		width: 2.3em;
	}

	.nav-mobile-menu {
		padding: 3.065em;
		right: 1.994em;
		width: 31.952em;
	}

	.nav-mobile-skew {
		width: 4.6em;
		height: 4.6em;
		right: 1.994em;
	}

	.menu-container {
		row-gap: 10.24vw;
	}

	.menu-container-item {
		&:last-child {
			padding: 1.225em 2.3em;
			border-radius: 3.065em;
		}
	}

	.header {
		row-gap: 5.365em;
		height: 43.125em;
	}

	.header-title {
		margin-top: 0.4em;
		letter-spacing: 0.2em;
	}

	.article {
		row-gap: 2.454em;
		padding: 5.674em 2.605em;
	}

	.article-link {
		border-bottom: 0.191em solid var(--yellow);
	}

	.article-with-img {
		height: 57.5em;
	}

	.article-box {
		padding: 4.6em 1.534em;
	}

	.article-text-text {
		margin-top: 2.759em;
	}

	.last-section {
		padding: 5.366em 3.065em 8.434em;
	}

	.last-section-title {
		letter-spacing: 0.384em;
	}

	.last-img {
		margin: 6.9em 0 3.065em;
		width: 6.227em;
	}

	.last-name {
		margin: 3.065em 0 1.074em;
	}

	.footer {
		padding: 5.365em 2.454em;
	}

	.footer-img {
		margin-bottom: 3.834em;
	}

	.footer-links {
		margin: 0 0.459em 7.665em;
	}

	.footer-icons {
		margin-bottom: 3.065em;
		column-gap: 3.065em;
	}

	.footer-icon {
		width: 1.915em;
	}
}

@media (min-width: 992px) {
	#root,
	.header-img {
		width: 100%;
	}
	.nav-mobile {
		padding: 2.42vw 3.23vw;
	}

	.nav-mobile-btn {
		display: none;
	}

	.nav-mobile-logo {
		width: 12%;
	}

	.nav-desktop-links {
		display: block;
	}

	.links-container {
		display: flex;
		column-gap: 3.23vw;
		align-items: center;
	}

	.desktop-link {
		color: var(--white);
		font-size: clamp(1.3rem, calc(1.3rem + ((18.85 - 13) * ((100vw - 992px) / (1440 - 992)))), 1.885rem);
		transition: color 0.2s;

		&:hover {
			color: var(--dark-desaturated-cyan);
		}

		&:last-child {
			padding: 1.45vw 2.42vw;
			background-color: var(--white);
			color: var(--very-dark-desaturated-blue);
			font-weight: 700;
			font-family: var(--fraunces);
			text-transform: uppercase;
			border-radius: 2.42vw;
			transition: color 0.2s, background-color 0.2s;

			&:hover {
				color: var(--white);
				background-color: #6fcfff;
			}
		}
	}

	.header {
		row-gap: 5.65vw;
		height: calc(55.56vw - 9.35vw);
	}

	.header-title {
		margin-top: 4.5vw;
		font-size: clamp(4.295rem, calc(4.295rem + ((62.35 - 42.95) * ((100vw - 992px) / (1440 - 992)))), 6.235rem);
		letter-spacing: 0.24vw;
	}

	.header-arrow {
		width: 2.5%;
	}

	.main {
		display: grid;
		grid-template-columns: 0.5fr 0.5fr;
	}

	.article-photo,
	.article,
	.article-with-img {
		height: 41.67vw;
	}

	.article {
		padding: 7.26vw;
		display: flex;
		justify-content: center;
		flex-direction: column;
		row-gap: 3.23vw;
		text-align: left;
	}

	.article-title {
		font-size: clamp(
			3.17333rem,
			calc(3.17333rem + ((46.0667 - 31.7333) * ((100vw - 992px) / (1440 - 992)))),
			4.60667rem
		);
	}
	.article-text {
		font-size: clamp(1.39833rem, calc(1.39833rem + ((20.3 - 13.9833) * ((100vw - 992px) / (1440 - 992)))), 2.03rem);
	}

	.article-link {
		position: relative;
		font-size: clamp(1.29833rem, calc(1.29833rem + ((18.85 - 12.9833) * ((100vw - 992px) / (1440 - 992)))), 1.885rem);
		margin: 0;
		margin-right: auto;
		border-bottom: none;

		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			right: -2.5%;
			width: 105%;
			height: 0.4vw;
			background-color: var(--yellow);
			border-radius: 0.2vw;
			z-index: -1;
			transition: background-color 0.2s;
		}
		&:hover {
			&::before {
				background-color: #6fcfff;
				background-color: var(--soft-red);
			}
		}
	}

	.article-title-box {
		font-size: clamp(
			2.00333rem,
			calc(2.00333rem + ((29.0833 - 20.14400333) * ((100vw - 992px) / (1440 - 992)))),
			2.90833rem
		);
	}

	.article-text-text {
		font-size: clamp(1.39833rem, calc(1.39833rem + ((20.3 - 13.9833) * ((100vw - 992px) / (1440 - 992)))), 2.03rem);
		margin: 2.42vw 8.06vw 1.61vw;
	}

	.article-box {
		padding: 1.61vw;
	}

	.last-section,
	.last-section-container {
		display: flex;
	}

	.last-section {
		grid-column: 1/3;
		padding: 8.87vw 11.29vw;
		justify-content: center;
		flex-direction: column;
	}

	.last-section-container {
		column-gap: 2.1vw;
	}

	.last-section-title {
		font-size: clamp(1.29833rem, calc(1.29833rem + ((18.85 - 12.9833) * ((100vw - 992px) / (1440 - 992)))), 1.885rem);
		letter-spacing: 0.4vw;
	}

	.last-img {
		margin: 0;
		margin-top: 4.84vw;
		margin-bottom: 3.23vw;
		width: 5.04vw;
	}

	.last-info {
		font-size: clamp(1.23rem, calc(1.23rem + ((17.85 - 12.3) * ((100vw - 992px) / (1440 - 992)))), 1.785rem);
	}

	.last-section-box {
		&:nth-child(2) {
			.last-info {
				width: 24.19vw;
			}
		}
	}

	.last-job,
	.last-name {
		font-size: clamp(1.2rem, calc(1.2rem + ((17.4167 - 12) * ((100vw - 992px) / (1440 - 992)))), 1.74167rem);
	}

	.images {
		grid-column: 1/3;
		grid-template-columns: repeat(4, 0.25fr);
	}

	.desktop-article-photo {
		height: auto;
	}

	.one {
		grid-column: 2/3;
		grid-row: 1/2;
	}

	.two {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	.footer {
		padding: 8.06vw 0;
	}

	.footer-img {
		margin-bottom: 4.03vw;
		width: 18%;
	}

	.footer-links {
		margin-bottom: 9.68vw;
		justify-content: center;
		column-gap: 6.36vw;
	}

	.footer-link {
		font-size: clamp(1.795rem, calc(1.795rem + ((26.05 - 17.95) * ((100vw - 992px) / (1440 - 992)))), 2.605rem);
	}

	.footer-icons {
		margin-bottom: 0;
		column-gap: 2.58vw;
	}

	.footer-icon {
		width: 2%;
		cursor: pointer;
	}
}
